{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign style = style | default: 'default'

    assign interior_class = 'block'
    assign title_classes = 'text-hfive md:text-hfour'
    assign subtitle_classes = 'md:text-hfive text-current/80'
    assign image_container_class = 'aspect-video w-full overflow-hidden bg-cloud'
    assign excerpt_classes = 'text-current/80 leading-relaxed'

    case style
      when 'horizontal'
        assign interior_class = 'block md:grid md:grid-cols-2 md:gap-8 items-center'
      when 'smaller'
        assign title_classes = 'text-hfive'
        assign subtitle_classes = 'text-current/80'
        assign image_container_class = image_container_class | append: ' mb-4'
        assign excerpt_classes = excerpt_classes | append: ' text-sm'
      else
        assign interior_class = 'block'
        assign image_container_class = image_container_class | append: ' mb-6'
    endcase

    assign ratio = 1
    if media_aspect_ratio != null
      assign ratio = media_aspect_ratio
    endif
  -%}
  <article class='group cursor-pointer'>
    <a href='{{ article.url }}' class='{{interior_class}}'>
      <div class='{{ image_container_class }}'>
        {%- if show_image and article.image != blank -%}
          {{
            article.image
            | image_url: width: 800
            | image_tag:
              class: 'w-full h-full object-cover group-hover:scale-105 transition-transform duration-700 ease-[var(--tw-ease)]',
              alt: article.image.alt
            | default: article.title, loading: 'lazy'
          }}
        {%- else -%}
          <div class='w-full h-full bg-cloud flex items-center justify-center'>
            <svg class='w-16 h-16 text-shadow' fill='currentColor' viewBox='0 0 20 20'>
              <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
            </svg>
          </div>
        {%- endif -%}
      </div>

      <div class='space-y-2'>
        <div class='flex items-center space-x-4 not-prose'>
          {% if tag_text %}
            <span class='bg-cloud block'>
              <span class='block text-xs px-2 py-1 bg-brown/80 text-white/80'>
                {% render 'icon', name: 'sale', class: 'inline-icon' %}
                {{ tag_text }}
              </span>
            </span>
          {% endif %}
          {% render 'article-meta',
            additional_classes: 'text-sm text-shadow gap-2 [--gap:calc(var(--spacing)*2)]',
            article: article,
            show_date: show_date,
            show_read_time: show_read_time
          %}
        </div>

        <div class='flex flex-col space-y-1'>
          {% assign title = article.title %}
          {% if article.metafields.custom.title_override %}
            {% assign title = article.metafields.custom.title_override
              | metafield_tag
              | replace: '<p>', ''
              | replace: '</p>', ''
            %}
          {% endif %}
          <h2 class='{{ title_classes }}'>
            {% render 'inline-hover-underline', multiline: true, content: title %}
          </h2>
          {%- if article.metafields.custom.subtitle != blank -%}
            <h3 class='{{ subtitle_classes }}'>
              {{ article.metafields.custom.subtitle }}
            </h3>
          {%- endif -%}
        </div>

        {%- if show_excerpt and article.excerpt != blank -%}
          <p class='{{ excerpt_classes }}'>
            {{ article.excerpt | replace: '<p>', '' | replace: '</p>', '' }}
          </p>
        {%- endif -%}
      </div>
    </a>
  </article>
{%- endif -%}
