{% assign input_name = input_name | default: 'variant' %}
<li class=''>
  <input
    type='radio'
    name='{{ input_name }}'
    id='select-{{ variant.id }}'
    value='{{ variant.id }}'
    class='hidden peer'
    {%- if variant.checked %}
      checked
    {% endif %}
  >
  <label
    for='select-{{ variant.id }}'
    class='cursor-pointer hover-area group-hover/indicator:text-current/30! hover:text-current! text-current/50 peer-checked:text-current relative pb-px transition-colors'
  >
    {{ variant.label }}
    {%- if variant.checked -%}
      <span class='hover-indicator absolute h-px w-full bg-current/30 left-0 bottom-0'></span>
    {%- endif -%}
  </label>
</li>
