{% assign hover_classes = ' hover:bg-white hover:text-black transition-colors duration-300' %}
<script src='{{ 'section-AnnouncementBar.js' | asset_url }}' defer></script>
<div
  class='announcement-bar w-full bg-shadow text-white relative overflow-hidden'
  style='--color-dynamic:var(--color-shadow);'
  data-speed='{{ section.settings.change_slides_speed | default: 5 }}'
>
  {% if section.blocks.size == 1 %}
    {% assign slide_class = 'text-center text-xs md:text-sm p-2' %}
    {% if section.blocks.first.settings.link != blank %}
      {% assign slide_class = slide_class | append: hover_classes %}
    {% endif %}
    <p class='{{ slide_class }}'>
      {%- if section.blocks.first.settings.link != blank -%}
        <a
          href='{{ section.blocks.first.settings.link }}'
          class='before:absolute before:inset-0'
        >
      {%- endif -%}
      {{ section.blocks.first.settings.text }}
      {%- if section.blocks.first.settings.link != blank -%}
        {% render 'icon', name: 'arrow-right' %}
        </a>
      {%- endif -%}
    </p>
  {% elsif section.blocks.size > 1 %}
    <p class='sr-only'>
      The following announcements will rotate every {{ section.settings.change_slides_speed | default: 5 }} seconds. You
      can pause the rotation by hovering over the announcements, and dismiss the annoncements at any time.
    </p>
    <ul class='announcement-bar--slider w-full' aria-live='polite' aria-atomic='true'>
      {% assign index = 0 %}
      {% for block in section.blocks %}
        {% assign slide_class = 'announcement-bar--slide w-full text-center text-xs md:text-sm p-2' %}
        {% if index != 0 %}
          {% assign slide_class = slide_class | append: ' hidden' %}
        {% endif %}
        {% if block.settings.link != blank %}
          {% assign slide_class = slide_class | append: hover_classes %}
        {% endif %}
        <li class='{{ slide_class }}'>
          {%- if block.settings.link != blank -%}
            <a
              href='{{ block.settings.link }}'
              class='before:absolute before:inset-0'
            >
          {%- endif -%}
          {{ block.settings.text }}
          {%- if block.settings.link != blank -%}
            {% render 'icon', name: 'arrow-right' %}
            </a>
          {%- endif -%}
        </li>
        {% assign index = index | plus: 1 %}
      {% endfor %}
    </ul>
    <span
      class='announcent-bar--slider-prog absolute bottom-px left-0 w-full h-px scale-x-0 origin-left bg-white/50'
      aria-hidden='true'
    ></span>
  {% endif %}
  <hone-button class='absolute right-0 top-0 h-full w-auto aspect-square grid'>
    <button class='announcement-bar--dismiss group/button cursor-pointer flex items-center justify-center bg-linear-to-b bg-bottom from-white/90 to-white bg-size-[100%_0%] bg-no-repeat hover:bg-size-[100%_100%] hover:text-black transition-all duration-300 overflow-hidden'>
      <span class='sr-only'>Dismiss announcement bar</span>
      <span class='hone-button__link-inner inline-flex'>
        <svg
          class='w-4 h-4'
          viewBox='0 0 20 20'
          fill='currentColor'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <path d="M4 4L16 16" stroke="currentColor" stroke-width="1" />
          <path d="M16 4L4 16" stroke="currentColor" stroke-width="1" />
        </svg>
      </span>
    </button>
  </hone-button>
</div>
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Slide Speed",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcements",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Free shipping on orders over $50!",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
